#parent{
    height: 300px;
    width: 250px;
    background-color: blanchedalmond;
    border-radius: 11px;
    position:relative;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
#child-a{
    height: 50%;
    width: 100px;
}
#child-b{
    height: 50%;
    width:100%;
}
img{
    height: 100%;
    width:100%;
}
child-b img{
    height:50%;
    width:50%;
    border:radius:20px;
}